body {
    font-family:'Montserrat';
    font-weight: lighter;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
  }

  .container {
    max-width: 500px;
    background-color: #001a49;
    margin: 0 auto;
    border: 1.5px solid rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    min-width: 450px;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1000px;    
}

  h1 {
    text-align: center;
  }

  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="tel"],
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    box-sizing: border-box;
    text-align: center;
  }

  input[type="submit"] {
    background-color: #0099ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-content: center;
  }

  input[type="submit"]:hover {
    background-color: #046343;
  }